<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body>
    <div class="container">
         
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Frequently Asked Questions</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                </ol>
              </nav>
        </div>

        <div class="bd-callout bd-callout-info mb-4">
          <p>
              Click on the text to show the answer to the question written in the text. Click again to close it.
          </p>
      </div>

        <!-- testing -->
        <div class="accordion mb-4" id="accordionExample">
          <%- include('./_faqElem.ejs', { num: '1', faqTitle: 'What is the purpose of this work?', faqContent: 'To provide a scientific tool with its help we can get outputs that could be used during scientific analysis and comparation with other published research outputs.'}) %>
          <%- include('./_faqElem.ejs', { num: '2', faqTitle: 'What is the current state of development?', faqContent: 'The SW is currently undergoing optimizations and looking for bugs. Everything during operation.'}) %>
          <%- include('./_faqElem.ejs', { num: '3', faqTitle: 'Used technologies?', faqContent: 'Everything is open-source or free to use. Some technologies include : NodeJS, MongoDB, Express, Bootstrap 4.6, EJS, ... '}) %>
          <%- include('./_faqElem.ejs', { num: '4', faqTitle: 'Rules of operation?', faqContent: 'Add geolocation data providers, so all required fields are set. (Remember to set geolocation limits per minute. Some providers may send 503 if these limits are overcomed) Add various cover lists (VPN, TOR) of your choice. Add APIs of blocklists and then obtain them. Proceed to add suspicious lists (either manually or via url). After all this is done, you can geolocate either manually or proceed to analyze suspicious lists. After all is done (you can see that in Application state module), proceed to Run analysis in Results/Individual outputs and then you can see results in individual/fused IP outputs and graphs or maps via chosen categories.'}) %>
          <%- include('./_faqElem.ejs', { num: '5', faqTitle: 'Disclaimer', faqContent: 'This software is provided as is, with no guarantee of correct information. This way I hereby declare that data shown by this application are only the result of accumulated lists and run analysis.'}) %>
        </div>
        <!-- testing end -->

        <!-- footer with name, year, FIIT, www -->
        <%- include('../_footer') %> 
    </div>
</body>

<script>
    function myFunction(clicked_id) {
        var element = document.getElementById('collapse-' + clicked_id);
        
        if (element.classList.contains("show"))
            element.classList.remove("show");
        else
            element.classList.add("show");
    }
</script>
</html>