<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_headerNew') %> 
<body>
    <div class="container">   
        <!-- head -->
        <%-include('../_breadcrumb')  %> 

        <!-- get new list button -->
        <a href="/blklist/refresh/<%= slug %>" class="btn btn-info btn-block">Refresh list (Get if empty)</a>

        <textarea class="form-control mt-2 mb-2" name="ips" id="ips" rows="20" disabled><%= (typeof textArea !== 'undefined') ? textArea : '' %></textarea>

        <!-- footer with name, year, FIIT, www -->
        <%- include('../_footer') %>
    </div>

</body>
</html>


