<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_headerModal') %> 
<body>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">State of application</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">State</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info">
            <p>
                Running since: <%= startedAt %>
            </p>
        </div>
        <div class="bd-callout bd-callout-danger">
            <% if (state.fieldsMissing && state.fieldsMissing.length > 0) { %>
                <p>This system is missing these GeoAPI fields to have full ability during IP geolocation requests. '<%= state.fieldsMissing %>'</p>
            <% } else { %>
                <p>All GeoAPI fields are fullfilled with active providers.</p>
            <% } %>
        </div>
        

        <!-- to-do list -->
        <a href="#" data-toggle="modal" data-target="#todoModalCenter" class="btn btn-lg btn-warning btn-block mb-4">TODO List</a>

        
        <!-- analyza -->
        <div class="float-right"><span class="badge badge-primary badge-pill"><%= state.analyse.isBusy == 1 ? 'BUSY' : 'IDLE' %> </span></div>
        <h5 class="display-5 mt-4 mb-2">Analysis</h5>
        <!-- datumy -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Date started (shows last one)</label>
                </div>
                <div class="col-md-6">
                    <label>Date ended (or expected)</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input disabled value="<%= state.analyse.startedAt %>" type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <input disabled value="<%= state.analyse.expectedEndAt %>" type="text" class="form-control">
                </div>
            </div>
        </div>

        <!-- geolokacia -->
        <div class="float-right"><span class="badge badge-primary badge-pill"><%= state.geoloc.isBusy == 1 ? 'BUSY' : 'IDLE' %> </span></div>
        <h5 class="display-5">Geolocation</h5>
        <!-- datumy -->
        <div class="form-group">
            <!-- ci je aktivny --> 
            <div class="row">
                <div class="col-md-6">
                    <label>Date started (most recent batch)</label>
                </div>
                <div class="col-md-6">
                    <label>Date of next possible batch geolocation</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input disabled value="<%= state.geoloc.startedAt %>" type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <input disabled value="<%= state.geoloc.expectedEndAt %>" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="bd-callout bd-callout-info">
                    <p>
                        Number of batches to be processed: <%= state.geoloc.batchesCount %> 
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bd-callout bd-callout-warning">
                    <p>
                        Current limit of IPs in batch per minute: <%= state.geoloc.currentLimit %>
                    </p>
                </div>
            </div>
        </div>
        
        <!-- grafy -->
        <div class="float-right"><span class="badge badge-primary badge-pill"><%= state.geoloc.isBusy == 1 ? 'BUSY' : 'IDLE' %> </span></div>
        <h5 class="display-5 mt-2 mb-2">Graphs file generation</h5>
        <!-- datumy -->
        <div class="form-group">
            <!-- ci je aktivny -->
            <div class="row">
                <div class="col-md-6">
                    <label>Date started (shows last one)</label>
                </div>
                <div class="col-md-6">
                    <label>Date ended (or expected)</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input disabled value="<%= state.graphs.startedAt %>" type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <input disabled value="<%= state.graphs.expectedEndAt %>" type="text" class="form-control">
                </div>
            </div>
        </div>

        <!-- maps -->
        <div class="float-right"><span class="badge badge-primary badge-pill"><%= state.geoloc.isBusy == 1 ? 'BUSY' : 'IDLE' %> </span></div>
        <h5 class="display-5 mt-4 mb-2">Maps file generation</h5>
        <!-- datumy -->
        <div class="form-group">
            <!-- ci je aktivny -->
            <div class="row">
                <div class="col-md-6">
                    <label>Date started (shows last one)</label>
                </div>
                <div class="col-md-6">
                    <label>Date ended (or expected)</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input disabled value="<%= state.maps.startedAt %>" type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <input disabled value="<%= state.maps.expectedEndAt %>" type="text" class="form-control">
                </div>
            </div>
        </div>

        <!-- Sources for file generation -->
        <div class="float-right"><span class="badge badge-primary badge-pill"><%= state.sources.isBusy == 1 ? 'BUSY' : 'IDLE' %> </span></div>
        <h5 class="display-5 mt-4 mb-2">Sources caching</h5>
        <!-- datumy -->
        <div class="form-group">
            <!-- ci je aktivny -->
            <div class="row">
                <div class="col-md-6">
                    <label>Date started (shows last one)</label>
                </div>
                <div class="col-md-6">
                    <label>Date ended (or expected)</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input disabled value="<%= state.sources.startedAt %>" type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <input disabled value="<%= state.sources.expectedEndAt %>" type="text" class="form-control">
                </div>
            </div>
        </div>

        <!-- www, ... -->
        <%- include('../_footer') %> 
    </div>

    <%- include('../www_modals/todoList') %>
</body>
</html>


