<div class="d-grid gap-3">
    <div class="form-group p-2 bg-light border">
        <div class="row">
            <div class="col-md-6"><label for="<%= identifier1 %>">Path to "<%= label1 %>"</label></div>
            <div class="col-md-6"><label for="<%= identifier2 %>">Path to "<%= label2 %>"</label></div>
        </div>
        <div class="row">
            <div class="col-md-6"><input value="<%= value1 %>" placeholder="eg.: '<%= exampleId1  %> '" type="text" name="<%= identifier1 %>" id="<%= identifier1 %>" class="form-control"></div>
            <div class="col-md-6"><input value="<%= value2 %>" placeholder="eg.: '<%= exampleId2 %> '" type="text" name="<%= identifier2 %>" id="<%= identifier2 %>" class="form-control"></div>
        </div>
    </div>
</div>