<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body onload="afterLoaded()">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Blocklist module</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/blklist/">Blocklists</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New source</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info mb-4">
            <p>
                In work
            </p>
        </div>
        
        <%- include('../_errorCheck') %> 

        <!-- main content -->
        <form action="/blklist/edit/<%= provider.id %>" method="POST">
            <!-- this is to output raw html instead of conerting to String -->
            <%- include('_form_fields_provider') %>
        </form>
        
        <!-- footer with name, year, FIIT, www -->
        <%- include('../_footer') %>
    </div>


    <!-- toto sa zobrazi po nacitani stranky a hladam v tom parameter changed, ktory sa posle len po uspesnom ulozeni a redirecte na toto -->
    <script>
        function afterLoaded() {
            var queryString = window.location.search
            var urlParams = new URLSearchParams(queryString)   
            if (urlParams.get('changed') == '1') {
                swal({icon: 'success', title: 'Saved!', button: false, timer: 1500})
            } else if (urlParams.get('invalid') == '1') {
                swal({icon: 'error', title: 'Ooops!', text: 'One or more fields invalid.', button: false, timer: 1500})
            }
        }
    </script>
</body>
</html>


