<% if (response?.findings.length > 0) { %>
    <h2>
        Findings
    </h2>
<% } %>

<% response.findings.forEach(finding => { %>
    <% var findArr = finding.text.split('|') %>
    <div class="card mb-2">
        <div class="card-body">
            <!-- nadpis -->
            <% if ('SUSPECT' == findArr[0].trim()) { %><h4><a href="/suspect/providers/<%= findArr[2].trim() %>">[SUSPICIOUS LIST] <%= findArr[3].trim() %></a></h4> <% } %> 
            <% if ('COVERT' == findArr[0].trim()) { %><h4><a href="/covert/<%= findArr[2].trim() %>">[COVERED LIST] <%= findArr[3].trim() %></a></h4> <% } %> 
            <% if ('BLKLIST' == findArr[0].trim()) { %><h4><a href="/blklist/<%= findArr[2].trim() %>">[BLOCKLIST] <%= findArr[3].trim() %></a></h4> <% } %> 
            
            
            <!-- tenke sede pismo -->
            <div class="card-subtitle text-muted mb-2">
                <%= finding.foundAt.toLocaleString() %>
            </div>

            <!-- skrateny popis -->
            <div class="card-text mb-2"><%= finding.text %></div>

        </div>
    </div>
<% }) %>  
