<!-- decide whether to use margin -->
<% let mbToUse = '' %> 
<% if (typeof useMb !== 'undefined') { %>
    <% mbToUse = useMb; %>
<% } %>  

<div class="row <%= mbToUse %>">

    <!-- main information panel --> 
    <div class="col-md-3">
        <h3>
            <small class="text-muted"><%= fieldTitle %></small>
        </h3>
    </div>
    <div class="col-md-6">
        <h3>
            <!-- if clickable link -->
            <% if (typeof clickableLocalLink !== 'undefined') { %> 
                <a href="<%= clickableLocalLink %>" class="link-primary"><%= fieldValue %> </a>
            <% } else if (typeof valueName !== 'undefined' && typeof valueName !== 'null') { %>
                
                <!-- find which provider has this value -->
                <% var tmpText = '' %>
                <% var by = '' %> 
                <% for (var key in providers) { %> 
                    <% if (providers[key].data && providers[key].data[valueName]) { %> 
                        <% tmpText = providers[key].data[valueName] %> 
                        <% by = providers[key].name %> 
                        <% break %> 
                    <% } %> 
                <% } %> 

                <!-- show it in -->
                <small class="text-info"><%= `${tmpText} \t\t [${by}]` %></small>

            <% } else { %> 
                <small class="text-info"><%= fieldValue %></small>
            <% } %> 
        </h3>
    </div>

    <!-- useful eg. for flag show -->
    <div class="col-md-3">
        <% if (typeof image !== 'undefined') { %>
            <img style="margin-bottom: -4.5rem; border: 2px solid;" src="<%= tmpText %>" alt="<%= image.alt %>" width="<%= image.width %>" height="<%= image.height %>" />
        <% } %>
    </div>

</div>