<div class="row">

    <!-- main information panel -->
    <div class="col-md-2">
        <h4>
            <!-- if clickable link -->
            <a href="<%= clickableLocalLink %>" class="link-primary"><%= fieldValue %> </a>
        </h4>
    </div>
    
    <div class="col-md-6">
        <!-- <h4>Used at: <%= date %></h4> -->
        <input value="<%= date %>"  type="text" class="form-control" readonly >
    </div>
    <div class="col-md-2">
        <h3>
            <p>Rating: <%= rating %> </p>
        </h3>
    </div>
</div>