<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body>
    <div class="container">
         
        <!-- navbar + info -->
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">List IPs and shortened results</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Results</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info">
            <p>
                Here, you can see all of the previous requests from the system.
            </p>
        </div>

        <!-- akcne tlacidlo -->
        <a href="/requests/new" class="btn btn-success">Make Request</a>

        <!-- zoznam -->
        <% requests.forEach(request => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <!-- ci je aktivny -->
                    <div class="float-right"><span class="badge badge-primary badge-pill"><%= request.success == 1 ? 'Successful' : 'Failed' %> </span></div>
                    <!-- nadpis -->
                    <h4 class="card-title"><%= request.ipRequested %></h4>
                    <!-- tenke sede pismo -->
                    <div class="card-subtitle text-muted mb-2">
                        <%= request.addedAt.toLocaleString() %>
                    </div>
                    <!-- Krajina odkial -->
                    <div class="card-text mb-2"><%= request.country %></div>
                    <!-- tlacidla -->
                    <a href="requests/<%= request.id %>" class="btn btn-primary">Read More</a>
                    <form action="/requests/delete/<%= request.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %> 
    </div>
</body>
</html>