<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body onload="afterLoaded()">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4"><%= response.ipRequested %></h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/requests">Results</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Details</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info">
            <p>
                Here is something about response
            </p>
        </div>

        <% var targetMapUrl = "/requests/testmap?latitude=" + response.latitude %>
        <% targetMapUrl += "&longitude=" + response.longitude %>
        <% targetMapUrl += "&target=" + response.ipRequested %>
        <% console.log(targetMapUrl) %> 
        <% targetMapUrl = encodeURI(targetMapUrl) %>

        <a href="<%= targetMapUrl %> ">Here is a target on a MAP</a> 

        <!-- here some details -->
        <%- include('_resp_fields', {fieldTitle: 'Requested IP: ', fieldValue: response.ipRequested}) %>
        <div class="row">
            <div class="col-md-2">
                <!-- <div class="col-form-label" >Received at: </div> -->
                <h3>
                    <small class="text-muted" >Received at: </small>
                </h3>
            </div>
            <div class="col-md-10">
                <h3>
                    <input value="<%= response.addedAt %>"  type="text" class="form-control" disabled >
                </h3>
            </div>
        </div>
        <%- include('_resp_fields', {fieldTitle: 'ID of provider: ', fieldValue: response.provider}) %>
        <%- include('_resp_fields', {fieldTitle: 'Reply state: ', fieldValue: response.success === 0 ? 'Failed' : 'Succesfull'}) %>
        <%- include('_resp_fields', {fieldTitle: 'Type: ', fieldValue: response.type === 0 ? 'IPv4' : 'IPv6'}) %>
        <%- include('_resp_fields', {fieldTitle: 'Continent: ', fieldValue: response.continent}) %>
        <%- include('_resp_fields', {fieldTitle: 'Country: ', fieldValue: response.country}) %>
        <%- include('_resp_fields', {fieldTitle: 'Country code: ', fieldValue: response.countryCode}) %>
        <%- include('_resp_fields', {fieldTitle: 'Country Flag: ', fieldValue: response.countryFlag, image: {src: response.countryFlag, alt: 'Image belonging to the resulting country', width: '220', height: '165'} }) %>
        <!-- if everything works remove this later -->
        <!-- <div class="row">
            <div class="col-md-12">
                <h3>
                    <small class="text-muted">Country Flag:</small>
                    <small class="text-info"><%= response.countryFlag %></small>
                </h3>
                <img src="<%= response.countryFlag %>" alt="Image belonging to the resulting country" width="220" height="165" />
            </div>
        </div> -->
        <%- include('_resp_fields', {fieldTitle: 'Region: ', fieldValue: response.region}) %>
        <%- include('_resp_fields', {fieldTitle: 'City: ', fieldValue: response.city}) %>
        <%- include('_resp_fields', {fieldTitle: 'Latitude: ', fieldValue: response.latitude}) %>
        <%- include('_resp_fields', {fieldTitle: 'Longitude: ', fieldValue: response.longitude}) %>
        <%- include('_resp_fields', {fieldTitle: 'Org: ', fieldValue: response.org}) %>
        <%- include('_resp_fields', {fieldTitle: 'ISP: ', fieldValue: response.isp}) %>
        <%- include('_resp_fields', {fieldTitle: 'Currency: ', fieldValue: response.currency}) %>
    </div>

    <!-- toto sa zobrazi po nacitani stranky a hladam v tom parameter changed, ktory sa posle len po uspesnom ulozeni a redirecte na toto -->
    <script>
        function afterLoaded() {
            var queryString = window.location.search
            var urlParams = new URLSearchParams(queryString)

            if (urlParams.get('changed') == '1') {
                swal({icon: 'success', title: 'Saved!', button: false, timer: 1500})
            }
        }
    </script>
</body>
</html>