
<h5 class="display-5 mt-4">Information relevant, to this system only</h5>

<!-- popisky systemove -->
<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label class="col-form-label" for="name">Name of the service in this system</label>
        </div>
        <div class="col-md-4">
            <input required value="<%= provider.name %>" type="text" name="name" id="name" class="form-control">        
        </div>
    </div>
</div>
<div class="form-group">
    
    
</div>
<div class="form-group">
    <label for="description">Your own description and notes on the service</label>
    <textarea name="description" id="description" class="form-control"><%= provider.description %></textarea>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label for="added_date">Date added (if new, current date shows up)</label>
        </div>
        <div class="col-md-6">
            <label for="last_edit_at">Last edit at (if new, current date shows up)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input disabled value="<%= provider.addedAt %>" type="text" name="added_date" id="added_date" class="form-control">
        </div>
        <div class="col-md-6">
            <input disabled value="<%= provider.lastEditAt %>" type="text" name="last_edit_at" id="last_edit_at" class="form-control">
        </div>
    </div>
</div>

<div class="bd-callout bd-callout-info">
    <p>
        These are information, necessary for the remote API to understand our request.
        
        Some APIs are free, some are payed. All of them have different URLs under which they are accessible.
        Sometimes they can be accessed via pure url + '192.168.0.1', but sometimes you need to create
        POST request and put information into the body.
    </p>
</div>
<h5 class="display-5 mt-4">Service's request fields (see service's documentation)</h5>
<!-- informacie potrebne k uspesnemu odoslaniu poziadavky -->

<div class="form-group">
    <label for="api_url">Service's API url</label>
    <input value="<%= provider.baseUrl %>" placeholder="http://serviceurl.com/json/" type="text" name="api_url" id="api_url" class="form-control">
</div>
<!-- dropdowny -->
<div class="form-group">
    <div class="row">
        <!-- miesto pre dropdown-->
        <div class="col-md-4">
            <label class="col-form-label" for="api_free">Is the service free?</label>
            <select name="api_free" id="api_free" class="form-select">
                <% var options = ["No", "Yes"] %>
                <% var selected_free = provider.isFree %>
                <% for(var i = 0; i < options.length; i++) { %>
                    <% var selected = (selected_free == i) ? 'selected' : '' %> 
                    <option <%= selected %> value='<%= i %>'><%= options[i] %></option>
                <% } %>
            </select>
        </div>
        <!-- miesto pre dropdown-->
        <div class="col-md-4">
            <label class="col-form-label" for="active">Enable service?</label>
            <select name="active" id="active" class="form-select">
                <% var options = ["No", "Yes"] %>
                <% var selected_active = provider.isActive %>
                <% for(var i = 0; i < options.length; i++) { %>
                    <% var selected = (selected_active == i) ? 'selected' : '' %> 
                    <option <%= selected %> value='<%= i %>'><%= options[i] %></option>
                <% } %>
            </select>
            
        </div>
        <!-- miesto pre dropdown-->
        <div class="col-md-4">
            <label class="col-form-label" for="api_method">Request method</label>
            
            <select name="api_method" id="api_method" class="form-select">
                <% var options = ["GET= url + ?param={ip}", "GET= url + /{ip}", "POST + {ip} in body app/json"] %>
                <% var selected_method = provider.restMethod %>
                <% for(var i = 0; i < options.length; i++) { %>
                    <% var selected = (selected_method == i) ? 'selected' : '' %> 
                    <option  <%= selected %>  value='<%= i %>'><%= options[i] %></option>
                <% } %>
            </select>
        </div>
    </div>
</div>

<form-group>
    <!-- nadpisy -->
    <div class="row">
        <div class="col-md-6">
            <label for="api_req_param_ip">Name for parameter "IP address" (if any)</label>
        </div>
        <div class="col-md-6">
            <label for="api_req_param_auth">Name for parameter "authentication" (if service not free)</label>
        </div>
    </div>
    <!-- inputy -->
    <div class="row">
        <div class="col-md-6">
            <input value="<%= provider.request.ipAddress %>" type="text" name="api_req_param_ip" id="api_req_param_ip" class="form-control">
        </div>
        <div class="col-md-6">
            <input value="<%= provider.request.authentication %>" type="text" name="api_req_param_auth" id="api_req_param_auth" class="form-control">
        </div>
    </div>
</form-group>




<div class="bd-callout bd-callout-info mt-4">
    <p>
        In the following part you specify what kind of name is used in the json/xml/... 
        part of the object returned from the service. Placeholders contain examples which
        are used in iphois in format eg.: 'example', where you write just words inside ''
    </p>
</div>
<h5 class="display-5 mt-4">Service's response fields (see service's documentation)</h5>
<!-- to co budeme spracovavat ako odpoved od sluzby -->

<div class="form-group">
    <label for="response_format">Response format type</label>

    <select name="response_format" id="response_format" class="form-select">
        <% var options = ["JSON", "XML"] %>
        <% var selected_response_format = provider.format %>
        <% for(var i = 0; i < options.length; i++) { %>
            <% var selected = (selected_response_format == i) ? 'selected' : '' %> 
            <option  <%= selected %>  value='<%= i %>'><%= options[i] %></option>
        <% } %>
    </select>
</div>

<div class="d-grid gap-3">
    <div class="form-group p-2 bg-light border">
        <div class="row">
            <div class="col-md-6"><label for="api_resp_success_path">Path to "was succesfull request"</label></div>
            <div class="col-md-6"><label for="api_resp_iptype_path">Path to "Type of IP address v4 or v6"</label></div>
        </div>
        <div class="row">
            <div class="col-md-6"><input value="<%= provider.response.successPath %>" placeholder="eg.: 'success'" type="text" name="api_resp_success_path" id="api_resp_success_path" class="form-control"></div>
            <div class="col-md-6"><input value="<%= provider.response.typePath %>" placeholder="eg.: 'type'" type="text" name="api_resp_iptype_path" id="api_resp_iptype_path" class="form-control"></div>
        </div>
    </div>
</div>
<div class="d-grid gap-3">
    <div class="form-group p-2 bg-light border">
        <div class="row">
            <div class="col-md-6"><label for="api_resp_continent_path">Path to "continent"</label></div>
            <div class="col-md-6"><label for="api_resp_country_path">Path to "country"</label></div>
        </div>
        <div class="row">
            <div class="col-md-6"><input value="<%= provider.response.continentPath %>" placeholder="eg.: 'continent'" type="text" name="api_resp_continent_path" id="api_resp_continent_path" class="form-control"></div>
            <div class="col-md-6"><input value="<%= provider.response.countryPath %>" placeholder="eg.: 'country'" type="text" name="api_resp_country_path" id="api_resp_country_path" class="form-control"></div>
        </div>
    </div>
</div>
<div class="d-grid gap-3">
    <div class="form-group p-2 bg-light border">
        <div class="row">
            <div class="col-md-6"><label for="api_resp_countrycode_path">Path to "country code"</label></div>
            <div class="col-md-6"><label for="api_resp_countryflag_path">Path to "country flag"</label></div>
        </div>
        <div class="row">
            <div class="col-md-6"><input value="<%= provider.response.countryCodePath %>" placeholder="eg.: 'country_code'" type="text" name="api_resp_countrycode_path" id="api_resp_countrycode_path" class="form-control"></div>
            <div class="col-md-6"><input value="<%= provider.response.countryFlagPath %>" placeholder="eg.: 'country_flag'" type="text" name="api_resp_countryflag_path" id="api_resp_countryflag_path" class="form-control"></div>
        </div>
    </div>
</div>
<div class="d-grid gap-3">
    <div class="form-group p-2 bg-light border">
        <div class="row">
            <div class="col-md-6"><label for="api_resp_region_path">Path to "region"</label></div>
            <div class="col-md-6"><label for="api_resp_city_path">Path to "city"</label></div>
        </div>
        <div class="row">
            <div class="col-md-6"><input value="<%= provider.response.regionPath %>" placeholder="eg.: 'region'" type="text" name="api_resp_region_path" id="api_resp_region_path" class="form-control"></div>
            <div class="col-md-6"><input value="<%= provider.response.cityPath %>" placeholder="eg.: 'city'" type="text" name="api_resp_city_path" id="api_resp_city_path" class="form-control"></div>
        </div>
    </div>
</div>
<div class="d-grid gap-3">
    <div class="form-group p-2 bg-light border">
        <div class="row">
            <div class="col-md-6"><label for="api_resp_latitude_path">Path to "latitude"</label></div>
            <div class="col-md-6"><label for="api_resp_longitude_path">Path to "longitude"</label></div>
        </div>
        <div class="row">
            <div class="col-md-6"><input value="<%= provider.response.latitudePath %>" placeholder="eg.: 'latitude'" type="text" name="api_resp_latitude_path" id="api_resp_latitude_path" class="form-control"></div>
            <div class="col-md-6"><input value="<%= provider.response.longitudePath %>" placeholder="eg.: 'longitude'" type="text" name="api_resp_longitude_path" id="api_resp_longitude_path" class="form-control"></div>
        </div>
    </div>
</div>
<div class="d-grid gap-3">
    <div class="form-group p-2 bg-light border">
        <div class="row">
            <div class="col-md-6"><label for="api_resp_organization_path">Path to "organization"</label></div>
            <div class="col-md-6"><label for="api_resp_isp_path">Path to "ISP (internet service provider)"</label></div>
        </div>
        <div class="row">
            <div class="col-md-6"><input value="<%= provider.response.orgPath %>" placeholder="eg.: 'org'" type="text" name="api_resp_organization_path" id="api_resp_organization_path" class="form-control"></div>
            <div class="col-md-6"><input value="<%= provider.response.ispPath %>" placeholder="eg.: 'isp'" type="text" name="api_resp_isp_path" id="api_resp_isp_path" class="form-control"></div>
        </div>
    </div>
</div>
<div class="d-grid gap-3">
    <div class="form-group p-2 bg-light border">
        <div class="row">
            <div class="col-md-6"><label for="api_resp_currency_path">Path to "current currency in use by country"</label></div>
            <div class="col-md-6"><label for="api_resp_requestscount_path">Path to "number of already fulfilled requests"</label></div>
        </div>
        <div class="row">
            <div class="col-md-6"><input value="<%= provider.response.currencyPath %>" placeholder="eg.: 'currency'" type="text" name="api_resp_currency_path" id="api_resp_currency_path" class="form-control"></div>
            <div class="col-md-6"><input value="<%= provider.response.fulfilledRequestsPath %>" placeholder="eg.: 'completed_requests'" type="text" name="api_resp_requestscount_path" id="api_resp_requestscount_path" class="form-control"></div>
        </div>
    </div>
</div>


<!-- akcne tlacidla -->
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>