<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/css/callout.css">

    <title>GeoDB provider list</title>
</head>
<body>
    <div class="container">
         
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">List of providers in the system</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Providers</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info">
            <p>
                Here, you can see all of the services in the system. You can proceed to add a new one
                or edit missing. It's also possible to delete one. Look for buttons with coresponding 
                symbols. Beware what you edit and delete. Deletion is permanent.
            </p>
        </div>

        <a href="/providers/new" class="btn btn-success">Add New Provider</a>
        
        <% providers.forEach(provider => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= provider.name %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= provider.addedAt.toLocaleString() %>
                    </div>
                    <div class="card-text mb-2"><%= provider.description %></div>
                    <a href="providers/<%= provider.slug %>" class="btn btn-primary">Read More</a>
                    <form action="/providers/delete/<%= provider.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %> 
    </div>
</body>
</html>